[submodule "Monocypher"]
	path = Monocypher
	url = git@github.com:LoupVaillant/Monocypher.git
[submodule "Bootloader/Utility"]
	path = Bootloader/Utility
	url = git@github.com:IMProject/IMUtility.git
[submodule "Bootloader/Library"]
	path = Bootloader/Library
	url = https://github.com/IMProject/Library
